<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="appName" value="springboot-kafka-sasl"/>
    <property name="LOG_DIR" value="logs"/>
    <property name="FILE_SIZE" value="10MB"/>
    <property name="TOTALSIZE" value="100MB"/>
    <property name="MAX_HISTORY" value="10"/>
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%date] [%level] [%thread] [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${appName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTALSIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] [%level] [%thread] [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.apache.kafka.clients" level="ERROR"/>
</configuration>
